form
    .input-group
        span.input-group-text.rounded-pill.border-1.p-0.flex-fill
            button.btn.border-0.d-flex(type="button")
                i.icon-magnifying-glass.fs-5
                input.border-0.form-control-plaintext.pe-3(type="search" placeholder="Search for anything...")
