@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?qto8ts');
  src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?qto8ts#iefix') format('embedded-opentype'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?qto8ts') format('truetype'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?qto8ts') format('woff'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?qto8ts##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-down {
  &:before {
    content: $icon-chevron-down;
  }
}

.icon-magnifying-glass {
  &:before {
    content: $icon-magnifying-glass;
  }
}

.icon-magic-stick {
  &:before {
    content: $icon-magic-stick;
  }
}

.icon-pictures {
  &:before {
    content: $icon-pictures;
  }
}

.icon-emoji-smile {
  &:before {
    content: $icon-emoji-smile;
  }
}

.icon-clock-circle {
  &:before {
    content: $icon-clock-circle;
  }
}

.icon-trash-can {
  &:before {
    content: $icon-trash-can;
  }
}

