$icomoon-font-family: "t-f-djinni" !default;
$icomoon-font-path: "fonts" !default;

$icon-chevron-down: "\e900";
$icon-magnifying-glass: "\e901";
$icon-magic-stick: "\e902";
$icon-pictures: "\e903";
$icon-emoji-smile: "\e904";
$icon-clock-circle: "\e905";
$icon-trash-can: "\e906";

